# Time Series Basics with Pandas

Hi Guys, Welcome to [Be.Analyst](https://youtube.com/@Be.Analyst) üòÄ
</br>
In this notebook, I'm going to talk about time series basics with Pandas.
</br>
Happy learning üê±‚Äçüèç

## What is the time series?

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
date=[datetime(2020,1,5),
      datetime(2020,1,10),
      datetime(2020,1,15),
      datetime(2020,1,20),
      datetime(2020,1,25)]

In [3]:
ts=pd.Series(np.random.randn(5),index=date)
ts

2020-01-05    1.290486
2020-01-10    0.319535
2020-01-15   -0.824832
2020-01-20   -0.343990
2020-01-25   -0.426131
dtype: float64

In [4]:
ts.index

DatetimeIndex(['2020-01-05', '2020-01-10', '2020-01-15', '2020-01-20',
               '2020-01-25'],
              dtype='datetime64[ns]', freq=None)

## Time Series Data Structures

In [5]:
pd.to_datetime("01/01/2020")

Timestamp('2020-01-01 00:00:00')

In [6]:
dates=pd.to_datetime(
    [datetime(2020,7,5),
     "6th of July, 2020",
     "2020-Jul-7",
     "20200708"])
dates

DatetimeIndex(['2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08'], dtype='datetime64[ns]', freq=None)

In [7]:
dates.to_period("D")

PeriodIndex(['2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08'], dtype='period[D]')

In [8]:
dates-dates[0]

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days'], dtype='timedelta64[ns]', freq=None)

## Creating a Time Series

In [9]:
pd.date_range("2020-08-15","2020-09-01")

DatetimeIndex(['2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
               '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
               '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
               '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
               '2020-08-31', '2020-09-01'],
              dtype='datetime64[ns]', freq='D')

In [10]:
pd.date_range('2020-07-15', periods=10)

DatetimeIndex(['2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18',
               '2020-07-19', '2020-07-20', '2020-07-21', '2020-07-22',
               '2020-07-23', '2020-07-24'],
              dtype='datetime64[ns]', freq='D')

In [11]:
pd.date_range("2020-07-15",
              periods=10,
              freq="H")

DatetimeIndex(['2020-07-15 00:00:00', '2020-07-15 01:00:00',
               '2020-07-15 02:00:00', '2020-07-15 03:00:00',
               '2020-07-15 04:00:00', '2020-07-15 05:00:00',
               '2020-07-15 06:00:00', '2020-07-15 07:00:00',
               '2020-07-15 08:00:00', '2020-07-15 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [12]:
pd.period_range("2020-10", 
                periods=10,
                freq="M")

PeriodIndex(['2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03',
             '2021-04', '2021-05', '2021-06', '2021-07'],
            dtype='period[M]')

In [13]:
pd.timedelta_range(0,periods=8,freq="H")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [14]:
stamp=ts.index[1]
stamp

Timestamp('2020-01-10 00:00:00')

In [15]:
ts[stamp]

0.31953455753833687

In [16]:
ts["25.1.2020"]

C:\Users\durge\AppData\Local\Temp\ipykernel_24180\359123758.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ts["25.1.2020"]

-0.42613144109149276

In [17]:
ts["20200125"]

-0.42613144109149276

In [18]:
long_ts=pd.Series(
    np.random.randn(1000),
    index=pd.date_range("1/1/2020",
                        periods=1000))
long_ts.head()

2020-01-01    0.473447
2020-01-02   -1.418605
2020-01-03    1.165368
2020-01-04    0.185552
2020-01-05   -0.228467
Freq: D, dtype: float64

In [19]:
long_ts["2020"].head()

2020-01-01    0.473447
2020-01-02   -1.418605
2020-01-03    1.165368
2020-01-04    0.185552
2020-01-05   -0.228467
Freq: D, dtype: float64

In [20]:
long_ts["2020-10"].head(15)

2020-10-01    1.197411
2020-10-02    0.220565
2020-10-03   -0.285842
2020-10-04   -0.465753
2020-10-05   -0.314832
2020-10-06   -0.380069
2020-10-07    0.560492
2020-10-08   -2.365242
2020-10-09   -0.836022
2020-10-10   -0.604815
2020-10-11    2.168128
2020-10-12   -0.068196
2020-10-13   -1.204565
2020-10-14   -0.118684
2020-10-15   -0.362153
Freq: D, dtype: float64

In [21]:
long_ts[datetime(2022,9,20):]

2022-09-20   -0.685245
2022-09-21    0.762151
2022-09-22   -0.028920
2022-09-23    0.641511
2022-09-24    0.988905
2022-09-25   -0.896691
2022-09-26    1.295355
Freq: D, dtype: float64

## The Important Methods Used in Time Series

In [22]:
ts

2020-01-05    1.290486
2020-01-10    0.319535
2020-01-15   -0.824832
2020-01-20   -0.343990
2020-01-25   -0.426131
dtype: float64

In [23]:
ts.truncate(after="1/15/2020")

2020-01-05    1.290486
2020-01-10    0.319535
2020-01-15   -0.824832
dtype: float64

In [24]:
date=pd.date_range("1/1/2020",
                   periods=100,
                   freq="W-SUN")

In [25]:
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=date,
                    columns=list("ABCD"))
long_df.head()

                   A         B         C         D
2020-01-05 -0.663406 -0.025382  1.822049  1.114146
2020-01-12  0.996319 -0.302648  1.194502 -0.317126
2020-01-19  0.917331 -1.350893 -0.261114  0.457189
2020-01-26 -0.442514  1.688163 -1.823045 -0.377989
2020-02-02  0.593917  1.128196  0.067819  1.512908

In [26]:
long_df["2020-10"]

C:\Users\durge\AppData\Local\Temp\ipykernel_24180\3443469286.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  long_df["2020-10"]

                   A         B         C         D
2020-10-04  0.228568  0.070569  0.357200 -0.314963
2020-10-11 -2.328011 -1.319669 -0.890586 -0.201423
2020-10-18  1.369448  1.280491 -0.197917  0.899848
2020-10-25 -0.508228  1.043532 -0.756478  1.055770

In [27]:
date=pd.DatetimeIndex(
    ["1/1/2020","1/2/2020","1/2/2020",
     "1/2/2020","1/3/2020"])
ts1=pd.Series(np.arange(5),index=date)
ts1

2020-01-01    0
2020-01-02    1
2020-01-02    2
2020-01-02    3
2020-01-03    4
dtype: int32

In [28]:
ts1.index.is_unique

False

In [29]:
group=ts1.groupby(level=0)

In [30]:
group.count()

2020-01-01    1
2020-01-02    3
2020-01-03    1
dtype: int64

In [31]:
group.mean()

2020-01-01    0.0
2020-01-02    2.0
2020-01-03    4.0
dtype: float64

Don't forget to follow us on [YouTube](http://youtube.com/@Be.Analyst) | [Medium](https://medium.com/@durgeshanalyst) | [Twitter](https://twitter.com/DurgeshBR?t=2LDCN4pHkZOYIo3rMXvKnw&s=09) | [GitHub](http://github.com/durgeshanalyst) | [Linkedin](https://www.linkedin.com/in/durgeshanalyst/) | [Kaggle](https://www.kaggle.com/durgeshanalyst) üòé